<h1>Listing errors</h1>

<table>
  <tr>
    <th>Message</th>
    <th>Location</th>
    <th>Latest</th>
    <th>Count</th>
  </tr>

<% @error_groups.each do |error_group| %>
  <tr class="error_group_row">
    <td class="error_message"><%=h error_group.message %></td>
    <td class="error_location"><%=h error_group.location %></td>
    <td class="error_latest"><%=h relative_time(error_group.latest) %></td>
    <td class="error_count"><%=h error_group.count %></td>
  </tr>
<% end %>
</table>

<br />
